body {
    max-width: 100%;
}

p {
    margin-bottom: 0.5rem;
}

legend {
    padding: 0 0.5rem;
    margin-bottom: 0;
}

.grid {
    width: unset;
    border-collapse: collapse;
}

.grid > tr > td {
    padding: 0;
    height: 4rem;
    width: 4rem;
    border: 2px black solid;
}

.highlight {
    box-shadow: 0 0 4pt 4pt grey;
}
